<div class="content">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{productoPedido.producto.nombre}}</mat-card-title>
      <mat-card-subtitle>Descripcion: {{productoPedido.producto.description}}</mat-card-subtitle>
      <mat-card-subtitle>Cantidad: {{productoPedido.cantidad}}</mat-card-subtitle>
      <!-- <mat-card-subtitle>Precio: {{productoPedido.producto.precio}}</mat-card-subtitle> -->
      
    
      <div class="btn" *ngIf="botones">
        <mat-card-title> $ {{productoPedido.producto.precio}}</mat-card-title>
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="addCarrito()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <br/>

        <div class="example-button-container">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="removeCarrito()">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>

      

    </mat-card-title-group>

  </mat-card>
</div>